<?xml version="1.0" encoding="UTF-8"?>
<gui name="silence"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
	<MenuBar>
		<Menu name="silence">
			<text>Silence</text>
			<Menu name="import">
				<text>Import</text>
				<Action name="import_silencexml" />
				<Action name="import_kjotsbook" />
			</Menu>
			<Menu name="export">
				<text>Export</text>
				<Action name="export_silencexml" />
			</Menu>
			<Action name="si_save" />
			<Action name="exit" />
		</Menu>
		<Menu name="node">
			<text>Node</text>
			<Action name="addnode" />
			<Action name="addsubnode" />
			<Action name="removenode" />
			<Action name="shownodeproperties" />
		</Menu>
		<Menu name="siedit">
			<text>Edit</text>

			<Action name="si_undo" />
			<Action name="si_redo" />
			<Separator />
			<Action name="si_cut" />
			<Action name="si_copy" />
			<Action name="si_paste" />
			<Action name="si_selectall" />

			<Action name="te_undo" />
			<Action name="te_redo" />
			<Separator />
			<Action name="te_cut" />
			<Action name="te_copy" />
			<Action name="te_paste" />
			<Action name="te_selectall" />
			<Separator />
			<Action name="te_find" />
			<Action name="te_replace" />

			<Separator />
			<Action name="si_indentmore" />
			<Action name="si_indentless" />
			<Action name="si_orderedlist" />
			<Action name="si_unorderedlist" />
			<Action name="si_insertimage" />
			<Action name="si_insertrule" />
			<Action name="si_insertlink" />
			<Action name="si_inserttable" />
			<Separator />
			<Action name="si_find" />
			<Action name="si_replace" />
			<!--
			<Menu name="table">
			<text>Table</text>
				<Action name="si_inserttablerow" />
				<Action name="si_inserttablecolumn" />
				<Action name="si_removetablerow" />
				<Action name="si_removetablecolumn" />
			</Menu>
			-->
		</Menu>
		<Menu name="format">
			<text>Format</text>
			<Action name="si_bold" />
			<Action name="si_italic" />
			<Action name="si_underline" />
			<Separator />
			<Action name="si_alignleft" />
			<Action name="si_alignright" />
			<Action name="si_aligncenter" />
			<Action name="si_alignjustify" />
			<Separator />
			<Action name="si_textcolor" />
			<Action name="si_textbgcolor" />
		</Menu>
		<Menu name="siview">
			<text>View</text>
			<Action name="showwelcomeview" />
			<Action name="showlabelmanagement" />
			<Action name="shownodemanagement" />
			<Separator />
			<Action name="showtreenodesidebar" />
			<Action name="showinfosidebar" />
			<Action name="shownavisidebar" />
			<Action name="showpropertysidebar" />
			<Action name="showsearchsidebar" />
		</Menu>
		<Menu name="settings"></Menu>
		<Menu name="help"></Menu>
	</MenuBar>
</gui>
