<?xml version="1.0" encoding="UTF-8"?>
<gui name="silence"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
	<MenuBar>
		<Menu name="silence">
			<text>Silence</text>
			<Action name="te_save" />
			<Action name="rtf_save" />
			<Menu name="import">
				<text>Import</text>
				<Action name="import_silencexml" />
			</Menu>
			<Menu name="export">
				<text>Export</text>
				<Action name="export_silencexml" />
			</Menu>
			<Action name="exit" />
		</Menu>
		<Menu name="node">
			<text>Node</text>
			<Action name="addnode" />
			<Action name="addsubnode" />
			<Action name="removenode" />
			<Action name="shownodeproperties" />
		</Menu>
		<Menu name="siedit">
			<text>Edit</text>
			<Action name="te_undo" />
			<Action name="te_redo" />
			<Separator />
			<Action name="te_cut" />
			<Action name="te_copy" />
			<Action name="te_paste" />
			<Action name="te_selectall" />
			<Separator />
			<Action name="te_find" />
			<Action name="te_replace" />

			<Action name="rtf_undo" />
			<Action name="rtf_redo" />
			<Separator />
			<Action name="rtf_cut" />
			<Action name="rtf_copy" />
			<Action name="rtf_paste" />
			<Action name="rtf_selectall" />
			<Separator />
			<Action name="rtf_increaseindent" />
			<Action name="rtf_decreaseindent" />
			<Action name="rtf_orderedlist" />
			<Action name="rtf_unorderedlist" />
			<Action name="rtf_insertimage" />
			<Action name="rtf_insertrule" />
			<Action name="rtf_insertlink" />
			<Action name="rtf_inserttable" />
			<Separator />
			<Action name="rtf_find" />
			<Action name="rtf_replace" />
			<!--
			<Menu name="table">
			<text>Table</text>
				<Action name="rtf_inserttablerow" />
				<Action name="rtf_inserttablecolumn" />
				<Action name="rtf_removetablerow" />
				<Action name="rtf_removetablecolumn" />
			</Menu>
			-->
		</Menu>
		<Menu name="format">
			<text>Format</text>
			<Action name="rtf_bold" />
			<Action name="rtf_italic" />
			<Action name="rtf_underline" />
			<Separator />
			<Action name="rtf_alignleft" />
			<Action name="rtf_alignright" />
			<Action name="rtf_aligncenter" />
			<Action name="rtf_alignjustify" />
			<Separator />
			<Action name="rtf_textcolor" />
			<Action name="rtf_textbgcolor" />
		</Menu>
		<Menu name="siview">
			<text>View</text>
			<Action name="showwelcomeview" />
			<Action name="showlabelmanagement" />
			<Action name="shownodemanagement" />
			<Separator />
			<Action name="showtreenodesidebar" />
			<Action name="showinfosidebar" />
			<Action name="shownavisidebar" />
			<Action name="showpropertysidebar" />
			<Action name="showsearchsidebar" />
		</Menu>
		<Menu name="settings"></Menu>
		<Menu name="help"></Menu>
	</MenuBar>
</gui>
